<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yidinghe.android.playcardhelper">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.NewGameActivity"
            android:label="New Game"></activity>
        <activity
            android:name=".ui.activities.GameBoardActivity"
            android:label="Game Board"></activity>
        <activity
            android:name=".ui.activities.RankActivity"
            android:label="Rank"></activity>
        <activity
            android:name=".ui.activities.AboutActivity"
            android:label="About"></activity>
        <activity
            android:name=".ui.activities.HelpActivity"
            android:label="Help"></activity>
        <activity
            android:name=".ui.activities.CalculatorActivity"
            android:label="Calculate Scores"></activity>
    </application>

</manifest>